.text {
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  text-align: center;
}
.card img {
  width: 100px;
  height: 100px;
}
.card {
  border: none;
}
.card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 133.69%;
  color: #ee4248;
}
.card-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}
.productBtn {
  width: 119px;
  height: 42px;
  background: #ee4248;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: white;
}
@media only screen and (max-width: 766px) {
  .card {
    align-items: center;
    text-align: center;
  }
}
